*{
    color:#fff;
}

.bg{
    background: url('bg2.jpg');
    background-size:cover;
    width:100%;
    height:100%;
    
}

.form-container{
    border:0px solid #fff;
    padding:30px 40px;
    margin-top:5vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.button {
  transition-duration: 0.4s;
  background-color:#4CAF50;;
  border: none;
  color: white;
  padding: 15px 32px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.first
	{  	background-color:black;
		width:match-parent;
		height:670px;
		background-attachment: fixed;
		background-size: cover;
		
	}

.text
	{
		padding: 100px 0px 0px 100px;
		color:white;
		text-shadow: 2px 2px blue;
	}
.text1
	{
		padding: 100px 0px 0px 800px;
		color:white;
		text-shadow: 2px 2px blue;
	}
.para
	{
		padding: 10px 900px 0px 100px;
		color:white;
	}
.para1
	{
		padding: 10px 90px 0px 800px;
		color:white;
	}
img
	{
		
		border-radius:30px;
		float:right;
		
	}
.img1
	{
		
		border-radius:30px;
		float:left;
		height:670px;
		width:670px;
		
	}
.who
	{
		color:white;
		padding: 150px 0px 0px 100px;
		text-shadow: 2px 2px blue;
	}
#snd
	{  background-color: black;
		width:match-parent;
		height:670px;
		background-attachment: fixed;
		background-size: cover;
		
	}
#trd
	{       background-image: url('irn.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		width:match-parent;
		height:690px;
		
	}
#fvth
	{       background-image: url('spdr1.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		width:match-parent;
		height:690px;
		
	}


.four
	{       background-image: url('capt.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		width:match-parent;
		height:690px;
		
	}
.sxth
	{       background-image: url('hulk2.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		width:match-parent;
		height:695px;
		
	}