.rightcontent{
    text-align: center;
    float: right;
}
.button {
    background-color: white; 
    border-radius: 31px;
    color: #454DE0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 24px 10px;
    cursor: pointer;
    border: 1px solid #454DE0;
}
.button-mobile {
    background-color: white; 
    border-radius: 31px;
    color: #454DE0;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 20px 4px;
    cursor: pointer;
    border: 1px solid #454DE0;
}

.button1 {
    background-color: blue; 
    border-radius: 30px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-top: 2rem;
}
.container{
    padding-top: 9rem;
}
  img{
      float: right;
      height: 300px;
      width: 500px;
  }
  #welcome-pic-mobile{
    float: left;
    height: 170px;
    width: 250px;
    margin-top: -7rem;
    margin-left: 20px;
    margin-bottom: 2rem;
}
  #image{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    height: 40px;
    width: 140px;
}
#image-mobile{
    float: left;
    margin: 8px 5px;
    padding-left: 5px;
    height: 55px;
    width: 55px;
}
#arrowImage{
    float: initial;
    height: 50px;
    width: 35px;
    margin-left: 50%;
    margin-top: 5rem;
}
.description1{
    color: #BDBDBD;
    font-size:10px;
    letter-spacing: 0pt;
    opacity: 1;
}
.companyServices{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color:#000;
    margin-left: 20px;
}
.companyServicesForMobile{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color:#000;
    margin-left: 20px;
}
.underline{
    display: block;
    background: #454DE0;
    height: 20px;
    width: 2px;
    top: 30%;
    position: absolute;
}
.description{
    letter-spacing: 0px;
    color: #707070;;
    opacity: 1;
    font-family: initial;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 17px;
}  
  
.bar {
    display: inline-block;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 15px;
  }
  
  .bar1, .bar2{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
  .bar3 {
    width: 16px;
    height: 3px;
    background-color: black;
    margin: 3px;
    margin-left: 9px;
  }
  
  .bar-mobile {
    display: inline-block;
    cursor: pointer;
    margin-top: 29px;
    margin-left: 15px;
  }
  
  .bar1-mobile, .bar2-mobile {
    width: 15px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
  }
  .bar3-mobile {
    width: 8px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
    margin-left: 7px;
  }
  
@media screen and (max-width: 600px){
    #image{
        display: none;
    }
    #image-mobile{
        display: inline-block;
    }
}
@media screen and (min-width: 600px){
    #image{
        display: inline-block;
    }
    #image-mobile{
        display: none;
    }
}
@media screen and (max-width: 710px){
    .button-mobile{
        display: inline;
        font-size: 9px;
    }
    .button{
        display: none;
    }
}
@media screen and (min-width: 710px) and (max-width: 800px){
    .button-mobile{
        display: inline;
    }
    .button{
        display: none;
    }
}
@media screen and (min-width: 800px){
    .button-mobile{
        display: none;
    }
    .button{
        display: inline;
    }
}

@media screen and (max-width:800px){
    .bar-mobile{
        display: block;
    }
    .bar1-mobile{
        display: block;
    }
    .bar2-mobile{
        display: block;
    }
    .bar3-mobile{
        display: block;
    }
    .bar{
        display: none;
    }
    .bar1{
        display: none;
    }
    .bar2{
        display: none;
    }
    .bar3{
        display: none;
    }
}
@media screen and (min-width:800px){
    .bar-mobile{
        display: none;
    }
    .bar1-mobile{
        display: none;
    }
    .bar2-mobile{
        display: none;
    }
    .bar3-mobile{
        display: none;
    }
    .bar{
        display: block;
    }
    .bar1{
        display: block;
    }
    .bar2{
        display: block;
    }
    .bar3{
        display: block;
    }
}
@media screen and (max-width: 552px){
    .for-mobile{
        display: inline;
    }
    .for-desktop{
        display: none;
    }
}
@media screen and (min-width: 552px){
    .for-mobile{
        display: none;
    }
    .for-desktop{
        display: inline;

    }
}
.navbar{
    border-bottom: solid #d3cbcb 1px;
}
@media screen and (max-width: 1000px){
    .we-do-it-all-mobile{
        display: inline;
    }
    .we-do-it-all-desktop{
        display: none;
    }
}
@media screen and (min-width: 1000px){
    .we-do-it-all-mobile{
        display: none;
    }
    .we-do-it-all-desktop{
        display: inline;
    }
}

.our-work{
    margin-left: 2rem;
}
.row1{
    margin-bottom: 3rem;
    margin-left: 3rem;
}
.bold-text{
    margin-left: 4rem;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:#000;
}
.bold-text-mobile{
    margin-left: 20px;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:#000;
}
#kamlaImage-for-mobile{
    float: left;
    height: 170px;
    width: 250px;
    margin-top: 5rem;
    margin-left: 20px;
    box-shadow: 0rem 10rem #F9F9F9;
}

#mediaImage-for-mobile{
    float: left;
    height: 170px;
    width: 250px;
    margin-left: 20px;
    margin-top: 5rem;
    box-shadow: 0rem 10rem #F9F9F9;
}
#kamlaImage{
    float: left;
    height: 30rem;
    width: 42rem;
    margin-top: 5rem;
    box-shadow: 15rem 0rem  #F9F9F9 ;
    margin-bottom: 3rem;
}
#mediaImage{
    float: left;
    height: 30rem;
    width: 42rem;
    margin-top: 5rem;
    margin-left: 4rem;
    box-shadow: -15rem 0rem  #F9F9F9 ;
    margin-bottom: 3rem;
}
.aboutKamla{
    margin-top: 8rem;
    margin-left: 11rem;
}
.aboutKamla-for-mobile{
    height: 170px;
    width: 250px;
    margin-top: 2rem;
    margin-left: 20px;
}

.aboutMedia{
    margin-left: 8rem;
    margin-top: 9rem;
}
.bold{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:#000;
    letter-spacing: 0px;
    opacity: 1;
}
.boldForCapabilities{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:#000;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 20px;
}
.para{
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-top: 2rem;
    width: 40rem;
}
.paraForCapabilities{
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-left: 4rem;
    margin-top: 2rem;
    font-size: 17px;
}
.paraForRow2{
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-top: 2rem;
    width: 38rem;
}
.case-study{
   padding-top: 6rem;
}
.case-study-for-mobile{
    padding-top: 3rem;
 }
.buttonForcase {
    background-color: blue; 
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 24px 35px;
    cursor: pointer;
    border: 1px solid #454DE0;
    border-radius: 23px;
    transition-duration: 0.4s;
}
.buttonForcaseMobile {
    background-color: blue; 
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 17px 10px;
    cursor: pointer;
    border: 1px solid #454DE0;
    border-radius: 23px;
    transition-duration: 0.4s;
}

.buttonForcase:hover{
    background-color: olivedrab; 
    border-radius: 31px;
    color: white;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 24px 10px;
    cursor: pointer;
    border: 1px solid olivedrab;
    transition-duration: 0.4s;
}
.iconDesc1{
    width: 250px;
}
@media screen and (max-width: 1200px){
    .mobile-our-work{
        display: inline;
    }
    .desktop-our-work{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .mobile-our-work{
        display: none;
    }
    .desktop-our-work{
        display: inline;
    }
}
.buttonForViewMore {
    background-color: white; 
    border-radius: 31px;
    color: #454DE0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 24px 90px;
    cursor: pointer;
    border: 1px solid #454DE0;
}
.sectionServices{
    background-color: #F9F9F9;
}
.iconDesc1{
    margin-left: 40px;
}
.iconDesc-one{
    float: right;
}
.last{
    margin-right: 3rem;
    margin-top: 3rem;
}
.sectionContactUs{
    background-color: #F9F9F9;
}
.bold-text-for-hi{
    margin-left: 4rem;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:#000;
}
#about-image-mobile{
    margin-top: 20px;
    width: 260px;
    height: 260px;
}
#hand{
    height: 68px;
    width: 66px;
    margin-right: 20%;
}
.form-control{
    border-radius: 25px;
    height: 5rem;
}
.form-group{
    margin-top: 20px;
    margin-left: 3rem;
}
.bold-color{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:#454DE0;
    letter-spacing: 0px;
    opacity: 1;
}
.socialMediaLinks{
    margin-top: 13rem;
    margin-bottom: 7rem;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    margin-right: 3rem;
    font-size: 15px;
}
.footerMenu{
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: black;
}
#copyright{
    margin-left: 25rem;
}
@media screen and (max-width: 1000px){
    #copyright{
        display: none;
    }
}
.mobile{
    margin-top: 10rem;
}
@media screen and (min-width: 1000px){
    .mobile{
        display: none;
    }
    .desktop{
        display: inline;
    }
}
@media screen and (max-width: 1000px){
    .mobile{
        display: inline;
    }
    .desktop{
        display: none;
    }
}